<header class="flex h-30 items-center">
  <div>
    <%= link_to '/' do %>
      <%= image_tag "logo.png", class: "h-30" %>
    <% end %>
  </div>
  
    
  <% if user_signed_in?%>
    <div class="flex items-center gap-8 ml-auto w-50 mr-4">
      <%= link_to '事件一覧', incidents_path %>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
    </div>
  <% else %>
    <div class="flex items-center gap-8 ml-auto w-50 mr-4">
      <%= link_to '新規登録', new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    </div>
  <% end %>
  

</header>